/avorado_fuvar/.phpunit.cache
/avorado_fuvar/node_modules
/avorado_fuvar/public/build
/avorado_fuvar/public/hot
/avorado_fuvar/public/storage
/avorado_fuvar/storage/*.key
/avorado_fuvar/vendor
/avorado_fuvar/.env
/avorado_fuvar/.env.backup
/avorado_fuvar/.env.production
/avorado_fuvar/Homestead.json
/avorado_fuvar/Homestead.yaml
/avorado_fuvar/auth.json
/avorado_fuvar/npm-debug.log
/avorado_fuvar/yarn-error.log
/avorado_fuvar/.fleet
/avorado_fuvar/.idea
/.vscode
