* text=auto eol=lf

/avorado_fuvar/*.blade.php diff=html
/avorado_fuvar/*.css diff=css
/avorado_fuvar/*.html diff=html
/avorado_fuvar/*.md diff=markdown
/avorado_fuvar/*.php diff=php

/.github export-ignore
/avorado_fuvar/CHANGELOG.md export-ignore
/avorado_fuvar/.styleci.yml export-ignore
